<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <md-card class="card">
    <md-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">
      <md-tab label="Account Info">
        <md-input-container class="full-width">
          <input mdInput placeholder="Your Email" formControlName="email">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="Your Name" formControlName="name">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Yout Password" formControlName="password">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Confirm Password" formControlName="repeat">
        </md-input-container>
        <app-image-list-select
          [useSvgIcon]="true"
          [cols]="6"
          [title]="'Select Avatar'"
          [items]="avatars$ | async"
          formControlName="avatar">
        </app-image-list-select>
        <div class="full-width action-area">
          <button md-raised-button type="button" (click)="nextTab()">Next</button>
          <span class="fill-remaining-space"></span>
          <span>
              <p>
                <a md-button routerLink="/login">Sign In</a>
                <a md-button routerLink="/forgot">Forgot</a>
              </p>
          </span>
        </div>
      </md-tab>
      <md-tab label="User Information">
        <app-indentity-input formControlName="identity" class="full-width control-padding">
        </app-indentity-input>
        <div class="full-width control-padding">
          <app-age-input formControlName="dateOfBirth"></app-age-input>
        </div>
        <div class="full-width control-padding">
          <app-area-list formControlName="address"></app-area-list>
        </div>
        <div class="full-width">
          <button md-raised-button type="button" (click)="prevTab()">Previous</button>
          <button md-raised-button type="submit" [disabled]="!form.valid">Register</button>
          <span class="fill-remaining-space"></span>
          <span>
              <p>
                <a md-button routerLink="/login">Sign In</a>
                <a md-button routerLink="/forgot">Forgot</a>
              </p>
          </span>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card>
</form>
