<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <md-card class="card">
    <md-card-header>
      <md-card-title> Forgot Password:</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="Confirm Your Past Email" formControlName="email">
      </md-input-container>
      <button md-raised-button type="submit" [disabled]="!form.valid">Get Password</button>
    </md-card-content>
    <md-card-actions class="text-right">
        <p>
          <a md-button routerLink="/login">Sign In</a>
          <a md-button routerLink="/register">Sign Up</a>
        </p>
      </md-card-actions>
  </md-card>
</form>
