<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <span md-dialog-title>{{dialogTitle}}</span>
  <div md-dialog-content>
    <md-select placeholder="Select target list" formControlName="targetList" class="full-width">
      <md-option *ngFor="let list of lists$ | async" [value]="list.id">
        {{list.name}}
      </md-option>
    </md-select>
    <div>
      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Confirm</button>
      <button md-dialog-close md-raised-button type="button">Close</button>
    </div>
  </div>
</form>
