<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <h2 md-dialog-title>{{dialogTitle}}</h2>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Content of the task" formControlName="desc">
    </md-input-container>
    <md-radio-group class="full-width" formControlName="priority">
      <md-radio-button *ngFor="let priorityItem of priorities" [value]="priorityItem.value">
        {{priorityItem.label}}
      </md-radio-button>
    </md-radio-group>
    <div class="full-width">
      <app-chips-list [label]="'Change agent'" [multiple]="false" formControlName="owner"></app-chips-list>
    </div>
    <md-input-container class="full-width">
      <input mdInput [mdDatepicker]="dueDatePicker" placeholder="Select deadline" formControlName="dueDate">
      <button mdSuffix [mdDatepickerToggle]="dueDatePicker" type="button"></button>
    </md-input-container>
    <md-datepicker touchUi="true" #dueDatePicker></md-datepicker>
    <md-input-container class="full-width">
      <input mdInput [mdDatepicker]="reminderPicker" placeholder="Select reminder date" formControlName="reminder">
      <button mdSuffix [mdDatepickerToggle]="reminderPicker" type="button"></button>
    </md-input-container>
    <md-datepicker touchUi="true" #reminderPicker></md-datepicker>
    <div class="full-width">
      <app-chips-list [label]="'Change participants'" formControlName="followers"></app-chips-list>
    </div>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Remark" formControlName="remark"></textarea>
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <div class="fill" *ngIf="notConfirm else confirm">
      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">
        Save
      </button>
      <button md-dialog-close md-raised-button type="button">Close</button>
      <span class="fill-remaining-space">
      </span>
      <button md-button color="warn" type="button" [disabled]="delInvisible" (click)="onDelClick(false)">Delete</button>
    </div>
  </div>
</form>
<ng-template #confirm>
  <div class="fill">
    <span class="fill-remaining-space mat-body-2">Are you sure to delete?</span>
    <button md-button color="warn" type="button" (click)="reallyDel()">Confirm</button>
    <button md-raised-button color="primary" type="button" (click)="onDelClick(true)">Cancle</button>
  </div>
</ng-template>
